<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>

<%= form_with(model: @post, local: true) do |form| %>
  <%= form.label :title, "商品名" %>
  <%= form.text_field :title %>

  <%= form.label :store, "店舗" %>
  <%= form.select :store, Post::STORE_OPTIONS %>

  <%= form.label :calorie, "カロリー (kcal)" %>
  <%= form.number_field :calorie %>

  <%= form.label :protein, "たんぱく質 (g)" %>
  <%= form.number_field :protein %>

  <%= form.label :fat, "脂質 (g)" %>
  <%= form.number_field :fat %>

  <%= form.label :carb, "炭水化物 (g)" %>
  <%= form.number_field :carb %>

  <%= form.label :price, "価格 (円)" %>
  <%= form.number_field :price %>

  <%= form.label :image, "画像" %>
  <%= form.file_field :image %>

  <%= form.submit "投稿する" %>
<% end %>
